/* Start Variables */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-trans : .3s;
}
/* End Variables */
/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
@media (max-width: 768px) {
    .block-mob {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Box */

/* Start Padding, Margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
/* End Padding, Margin */

/* Start Colors */
.bg-white {
    background-color: #fff;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-eee {
    background-color: #eee;
}
.c-black {
    color: #000;
}
.c-gray {
    color: var(--grey-color);
}
.c-white {
    color: #fff
}
/* End Colors */

/* Start Positions */
.p-relative {
    position: relative;
}
/* End Positions */

/* Start Fonts */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
@media (max-width: 768px) {
    .txt-c-mob {
        text-align: center;
    }
}
/* End Fonts */

/* Start Borders */
.rad-6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.b-none {
    border: none;
}
/* End Borders */


/* Start Width, Height */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
/* End Width, Height */


/* Start Components */
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End Components */